.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    border-radius: 8px;
    border: 2px solid black;
  }
  .info{
    padding: 20px;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    background-color: #f3f3f3;
    border-radius: 8px;
  }
  
  .imgprofile{
    width: 100px;
    border-radius: 50%;
    background-color: dimgrey;
    margin-bottom: 15px;
  }
  
  .name {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin: 0;
  }
  
  .tag {
    color: #757575;
    font-size: 16px;
  }
  
  .location {
    color: #757575;
    font-size: 16px; 
  }
  
  .list{
  display: flex;
  justify-content:space-around;
  align-items: center;
  border-top: 2px solid dimgrey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #b9b4b4; 
  }

  .label {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: gray;
   width: 100px;
    color: black;
  }
  .label:not(:last-child) {
    border-right: 2px solid dimgray;
  }  
  .numbers {
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin-top: 5px;
  }